@(id:Int,trunId:Int)(implicit data: core.mvc.ViewData[_])
@data.style("stylesheets/css/FAQ.css")(0)
@data.script("javascripts/js/vhtml/FAQ.js")(0)
@main {
    <input type="hidden" id="trunId" value="@trunId"/>
    <div>
        <img  width="100%" src="/assets/images/FAQ_banner.jpg"/>
    </div>
    <div class='content'>
        <div id="FAQ_tab" class='FAQ_guidance_bar'>
            <a class='guidance_item @if(id==1){active}'><span class='icon icon_FAQ'></span>平台答疑中心</a>
            <a class='guidance_item @if(id==2){active}'><span class='icon icon_agreement'></span>服务协议</a>
            <a class='guidance_item @if(id==3){active}'><span class='icon icon_law'></span>法律服务</a>
            <a class='guidance_item @if(id==4){active}'><span class='icon icon_risk_warning'></span>风险提示</a>
        </div>
        <div class='w980' @if(id == 1){style="display: block;" }>
            <div id="FAQ_center_tab">
                <div class="container">
                    <a class='FAQ_center_item active'>全部</a>
                    <a class='FAQ_center_item'>投资者提问</a>
                    <a class='FAQ_center_item'>融资者提问</a>
                </div>
            </div>
            <div class="container">
                <div class="FAQ_center_con" style="display:block;">
                    <dl class="faq_dl">
                        <dt>是否所有项目都会在平台推出？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>平台只为优质的高成长企业服务，企业一般都是正规的具有一定业务规模的，企业在本平台推出的项目，睿就投平台会有专门的调研、评审、论证。努力确保项目的高成长，高回报，最大程度保证投资人的资金安全；企业在本平台融资，是以资金为纽带，更重要的是寻找到一批能帮助企业发展的投资人股东。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>股权众筹有非法集资的风险吗？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>没有。</li>
                                <li>非法集资有五个特点：</li>
                                <li>
                                    <ul>
                                        <li>1. 执行主体未经政府批准；</li>
                                        <li>2. 参与对象不特定；</li>
                                        <li>3. 人数超过200人；</li>
                                        <li>4. 承诺保本付息；</li>
                                        <li>5. 非法目的。</li>
                                    </ul>
                                </li>
                                <li>首先，在睿就投平台进行融资的企业必须是国家有关部门批准设立的正当合法企业，其在平台发布的融资项目需要经过律所、会所以及我司专业研究人员的严格审核；其次支持睿就投平台发布的融资项目的投资人在最终出资之前，需要通过睿就投的审核，填写书面申请资料，成为睿就投平台的正式会员，才可以出资，属于特定对象；最后睿就投平台不设资金池，不高息揽存，投资者对一个项目的支持属于预订行为，投资行为的最终实施必须线下进行。
                                    此外，平台融资属于投资性质，投资人自行决策、自担风险，睿就投平台、融资企业均不承诺保本保息。资金通过依法设立有限合伙企业并由专业投资管理机构全程监管确保资金安全及合理使用。每个项目融资，最终入围投资者不超过200人。
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl" id="howInvest">
                        <dt>申请成为领投人需要具备哪些条件？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>1. 必须是符合我国法律法规的相关规定的专业机构投资者或者投资经验丰富的专业个人投资者；</li>
                                <li>2. 熟悉股权投资领域，有成功的股权投资案例和投资经验；</li>
                                <li>3. 有丰富的行业资源和影响力，有很强的风险承受能力；</li>
                                <li>4. 在企业遇到重大事项时可以随时沟通和提供一定帮助，可以要求公司董事席位，并能够在董事会上做出有利于企业的决策，能帮助企业协调其它的投资者；</li>
                                <li>5. 能够专业地协助项目方完善商业计划书、尽职调查、投资协议编制，协助项目路演、召集跟投方以及投后管理；</li>
                                <li>6. 领投人必须对项目至少需要投资融资额度的10%，在启动打款时要优先打款。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl" id="howPay">
                        <dt>如何支付投资款？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>我们会在路演之后，开设合伙企业账户并公布最终入围的投资者。只接受银行汇款。统一汇款至合伙企业账户，保证资金安全。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目融资不足与超募怎么办？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>若在项目规定时间内，没有认购项目总体融资额的80%，则视为项目融资失败。投资者可以和项目方协商，是否可以按现有融资和相应股权比例，签订协议。</li>
                                <li>若在规定时间内，认购额度超过项目融资额度，平台原则上不接受项目超募。项目方有权选择对自己发展更有利的投资人。项目方也可以和投资者商定其他解决方案，如约定时间统一打款，投资者先到先得或在投资者接受的条件下，所有有意向的投资人按比例减少投资金额，而保证所有有意向的投资人都参与到项目投资。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>股权众筹项目投资人确定能够得到相应收益吗？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>很多项目本身存在着风险，有可能存在项目发起人无法完成其许诺的情况。项目投资人一方面要了解创意项目本身是有风险的，另一方面，我们要求项目发起人提供联系方式，并且鼓励有意支持者直接联系他们，在与项目发起人的沟通和互动中对项目的价值、风险、项目发起人的执行力等等有所判断。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>平台是否有投后服务？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>投资者投资项目后，平台会不定期以短信，微信服务号等方式发送项目信息，公司进展等一系列信息。保证投资者时刻了解最新动态。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl" id="howPublish">
                        <dt>如何发起项目？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>进入我的账户，点击“发起项目”，按要求填写项目基本信息，例如项目所处阶段、融资金额等，并提交商业计划书（上传的商业计划书仅供平台审核，不会向其他用户公示），填写完项目基本信息后，点击“公司信息”，按要求填写完成并提交，项目将由平台投资部专业团队进行审核；我们将协助项目方进行项目资料优化，并辅助项目上线。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>如何选择领投人？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>一个项目可以有多名领投人，具体数目由项目方决定，领投人将对项目进行分析、尽职调查，帮助其他有意向的投资人更好地了解项目的风险与前景，促成项目完成融资；如有意向的用户申请担任项目领投人，睿就投平台将联合项目方查看并审核。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>商业计划书要涵盖哪些内容？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>1. 产品介绍</li>
                                <li>2. 团队情况</li>
                                <li>3. 商业模式及发展计划</li>
                                <li>4. 核心优势</li>
                                <li>5. 市场机遇</li>
                                <li>6. 财务状况及业绩预测</li>
                                <li>7. 股权结构及融资计划</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目融资费用？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>项目融资成功后睿就投平台只收取融资额的5%作为服务费。不成功，不收费。在融资过程中睿就投安排项目与投资人的见面会、项目路演、其它的宣传等一律免费。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目审核周期？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>睿就投平台投资部接到项目方申请后将展开项目审核，审核周期约两周时间。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目如何启动发行？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>项目方在睿就投的协助下，确认投资人实际投资意向及诉求，拟定发行方案及投资协议条款。在投资意向能够满足项目发行条件的前提下，项目方可自行启动正式发行。</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

                <div class="FAQ_center_con">
                    <dl class="faq_dl">
                        <dt>是否所有项目都会在平台推出？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>平台只为优质的高成长企业服务，企业一般都是正规的具有一定业务规模的，企业在本平台推出的项目，睿就投平台会有专门的调研、评审、论证。努力确保项目的高成长，高回报，最大程度保证投资人的资金安全；企业在本平台融资，是以资金为纽带，更重要的是寻找到一批能帮助企业发展的投资人股东。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>股权众筹有非法集资的风险吗？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>没有。</li>
                                <li>非法集资有五个特点：</li>
                                <li>
                                    <ul>
                                        <li>1. 执行主体未经政府批准；</li>
                                        <li>2. 参与对象不特定；</li>
                                        <li>3. 人数超过200人；</li>
                                        <li>4. 承诺保本付息；</li>
                                        <li>5. 非法目的。</li>
                                    </ul>
                                </li>
                                <li>首先，在睿就投平台进行融资的企业必须是国家有关部门批准设立的正当合法企业，其在平台发布的融资项目需要经过律所、会所以及我司专业研究人员的严格审核；其次支持睿就投平台发布的融资项目的投资人在最终出资之前，需要通过睿就投的审核，填写书面申请资料，成为睿就投平台的正式会员，才可以出资，属于特定对象；最后睿就投平台不设资金池，不高息揽存，投资者对一个项目的支持属于预订行为，投资行为的最终实施必须线下进行。
                                    此外，平台融资属于投资性质，投资人自行决策、自担风险，睿就投平台、融资企业均不承诺保本保息。资金通过依法设立有限合伙企业并由专业投资管理机构全程监管确保资金安全及合理使用。每个项目融资，最终入围投资者不超过200人。
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>申请成为领投人需要具备哪些条件？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>1. 必须是符合我国法律法规的相关规定的专业机构投资者或者投资经验丰富的专业个人投资者；</li>
                                <li>2. 熟悉股权投资领域，有成功的股权投资案例和投资经验；</li>
                                <li>3. 有丰富的行业资源和影响力，有很强的风险承受能力；</li>
                                <li>4. 在企业遇到重大事项时可以随时沟通和提供一定帮助，可以要求公司董事席位，并能够在董事会上做出有利于企业的决策，能帮助企业协调其它的投资者；</li>
                                <li>5. 能够专业地协助项目方完善商业计划书、尽职调查、投资协议编制，协助项目路演、召集跟投方以及投后管理；</li>
                                <li>6. 领投人必须对项目至少需要投资融资额度的10%，在启动打款时要优先打款。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>如何支付投资款？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>我们会在路演之后，开设合伙企业账户并公布最终入围的投资者。只接受银行汇款。统一汇款至合伙企业账户，保证资金安全。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目融资不足与超募怎么办？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>若在项目规定时间内，没有认购项目总体融资额的80%，则视为项目融资失败。投资者可以和项目方协商，是否可以按现有融资和相应股权比例，签订协议。</li>
                                <li>若在规定时间内，认购额度超过项目融资额度，平台原则上不接受项目超募。项目方有权选择对自己发展更有利的投资人。项目方也可以和投资者商定其他解决方案，如约定时间统一打款，投资者先到先得或在投资者接受的条件下，所有有意向的投资人按比例减少投资金额，而保证所有有意向的投资人都参与到项目投资。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>股权众筹项目投资人确定能够得到相应收益吗？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>很多项目本身存在着风险，有可能存在项目发起人无法完成其许诺的情况。项目投资人一方面要了解创意项目本身是有风险的，另一方面，我们要求项目发起人提供联系方式，并且鼓励有意支持者直接联系他们，在与项目发起人的沟通和互动中对项目的价值、风险、项目发起人的执行力等等有所判断。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>平台是否有投后服务？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>投资者投资项目后，平台会不定期以短信，微信服务号等方式发送项目信息，公司进展等一系列信息。保证投资者时刻了解最新动态。</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

                <div class="FAQ_center_con">

                    <dl class="faq_dl">
                        <dt>如何发起项目？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>进入我的账户，点击“发起项目”，按要求填写项目基本信息，例如项目所处阶段、融资金额等，并提交商业计划书（上传的商业计划书仅供平台审核，不会向其他用户公示），填写完项目基本信息后，点击“公司信息”，按要求填写完成并提交，项目将由平台投资部专业团队进行审核；我们将协助项目方进行项目资料优化，并辅助项目上线。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>如何选择领投人？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>一个项目可以有多名领投人，具体数目由项目方决定，领投人将对项目进行分析、尽职调查，帮助其他有意向的投资人更好地了解项目的风险与前景，促成项目完成融资；如有意向的用户申请担任项目领投人，睿就投平台将联合项目方查看并审核。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>商业计划书要涵盖哪些内容？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>1. 产品介绍</li>
                                <li>2. 团队情况</li>
                                <li>3. 商业模式及发展计划</li>
                                <li>4. 核心优势</li>
                                <li>5. 市场机遇</li>
                                <li>6. 财务状况及业绩预测</li>
                                <li>7. 股权结构及融资计划</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目融资费用？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>项目融资成功后睿就投平台只收取融资额的5%作为服务费。不成功，不收费。在融资过程中睿就投安排项目与投资人的见面会、项目路演、其它的宣传等一律免费。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目审核周期？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>睿就投平台投资部接到项目方申请后将展开项目审核，审核周期约两周时间。</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="faq_dl">
                        <dt>项目如何启动发行？</dt>
                        <dd>
                            <ul class="faq_content_list_1">
                                <li>项目方在睿就投的协助下，确认投资人实际投资意向及诉求，拟定发行方案及投资协议条款。在投资意向能够满足项目发行条件的前提下，项目方可自行启动正式发行。</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class='w980' @if(id == 2){style="display: block;" }>
            <div class="container">
                <dl class='faq_dl'>
                    <h3 style="margin-top: -2%;">用户服务协议</h3>
                    <dd>
                        <p>第一条 接受条款</p>
                        <ul>
                            <li>1.1. 您在使用“睿就投平台服务”之前，请仔细阅读本服务协议。如您不同意本服务协议（以下如无特殊说明，“本服务协议”均包括本服务协议随时所做的修改），请立即停止使用睿就投平台提供的全部服务；您一旦同意本协议，自愿注册成为睿就投平台用户，本协议即生效， 即视为您已了解并完全同意本服务协议的各项内容，包括服务协议随时所做的任何修改。您不能以未阅读“本协议”或对“本协议”有任何误解为由，主张“本协议”无效或要求撤销“本协议”。</li>
                        </ul>
                        <p>第二条  服务说明<p>
                        <ul>
                            <li>2.1. 用户在同意本协议、并自愿注册成为睿就投平台用户后，在本协议生效后有权依据本协议和用户自愿签署的其他协议使用睿就投平台提供的服务。</li>
                            <li>2.2. 睿就投平台会依据本协议的约定，运用自身的软件平台通过移动互联网络为用户提供一系列信息对接服务、平台软件系统支持等服务，包括但不限于发布/浏览信息服务、在线投资/融资服务等，并保留不经事先通知为维修、升级或其他目的暂停睿就投平台服务任何部分的权利。</li>
                            <li>2.3. 用户在使用睿就投平台提供的在线投资服务时成为睿就投平台的投资人，投资人（包括投资人设立的有限合伙企业）对睿就投平台提供的项目融资方投资、取得项目融资方股权的，投资人应向睿就投支付相应的服务价款。 用户在服务期限内使用睿就投提供的其他有偿服务的，应根据与睿就投达成的相关协议支付服务价款。</li>

                        </ul>

                        <p>第三条  用户注册须知</p>
                        <ul>
                            <li>3.1. 用户须承诺其是依据中国法律设立并有效存续的有限责任公司/股份有限公司/其他形式的组织或为具有完全民事行为能力的自然人，具备相应的权利及能力，能够履行本协议项下的所有义务和责任；</li>
                            <li>3.2. 用户注册时必须提供准确、真实的注册信息，注册后如有变动应及时更新。用户注册成功后，用户帐号和密码由用户自行保管，用户应对其帐号进行的所有活动承担责任。</li>
                            <li>3.3. 用户在账号管理过程中，有权随时修改其密码和图标，也可注销旧的帐户开立新帐户。用户若发现任何非法使用其帐号或存在安全漏洞的情况，应立即通知睿就投并采取措施以减少不必要的损失。</li>
                            <li>3.4. 如果睿就投平台有理由怀疑或者发现用户个人资料存在不真实的情况，有权暂停或终止用户帐号部分或全部服务。</li>
                            <li>3.5. 睿就投平台账号的使用权仅归注册人所有，不得将帐号转让、出售、出租、赠与给任何第三方或继承。未经睿就投平台允许，用户私自转让、出售、出租、赠与睿就投平台账号的，用户应当自行承担此行为的一切后果，同时睿就投平台保留追究上述行为人法律责任的权利。睿就投平台不承认帐号的继承。</li>
                            <li>3.6. 如果睿就投平台有理由怀疑或者发现帐号使用者非注册人，睿就投平台有权在未经通知允许的情况下暂停或终止账号服务而无需向该帐号使用者承担法律责任，由此带来的包括并不限于用户资料清空、用户通讯中断、商业方案遗失等损失由用户自行承担。</li>
                        </ul>

                        <p>第四条 用户使用须知</p>
                        <ul>
                            <li>4.1. 用户依据本协议约定使用睿就投平台提供的各项服务。</li>
                            <li>4.2. 用户承诺并保证在本协议约定的服务期限内，仅接受睿就投提供的服务，不再与其他任何第三方就与本协议服务内容相同或类似的服务事项进行磋商、谈判或者合作。</li>
                            <li>4.3. 用户承诺并保证遵守本协议以及其与睿就投或其关联方签署的其他协议的约定，并遵守锐就投制定的其他相关制度、规则，在享用睿就投平台提供的服务时不会实施有损于睿就投的行为，包括但不限于以下行为：
                                <ul>
                                    <li>（1） 未经睿就投书面许可，通过本协议约定方式之外的途径进入睿就投计算机信息网络系统或者使用本协议约定范围外的信息网络资源或服务；</li>
                                    <li>（2） 未经睿就投书面许可，对睿就投平台计算机信息网络功能进行删除、修改或者增加；</li>
                                    <li>（3） 未经睿就投书面许可，对睿就投平台计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加；</li>
                                    <li>（4） 故意制作、传播计算机病毒等破坏性程序；</li>
                                    <li>（5） 其他危害计算机信息网络安全、妨碍睿就投正常运作、有损其公信力的行为。</li>
                                </ul>
                            </li>
                            <li>4.4. 用户承诺并保证其提供给睿就投或发布在睿就投平台上的所有信息是真实、准确、完整的，符合中国各项法律、法规及规范性文件以及睿就投相关规则的规定，不存在虚假、误导性陈述或重大遗漏，并承诺及时对已发布的信息进行及时更新、维护和管理。</li>
                            <li>4.5. 用户承诺并保证其提供或发布的信息不存在以下情形：
                                <ul>
                                    <li>（1） 违反中国各项法律、法规及规范性文件规定的；</li>
                                    <li>（2） 危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一的，煽动民族仇恨、民族歧视，破坏民族团结的，破坏国家宗教政策、宣扬邪教和封建迷信的，有损国家荣誉和利益的；</li>
                                    <li>（3） 散布谣言、含有淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪信息，扰乱社会秩序，破坏社会稳定的；</li>
                                    <li>（4） 侮辱或者诽谤他人，侵犯其他任何第三方知识产权及其他合法权益的；</li>
                                    <li>（5） 其他含有法律、法规及规范性文件禁止内容的。</li>
                                </ul>
                            </li>
                            <li>4.6. 用户承诺并保证对在睿就投平台上创建、发布公司或投资公司作出独立的、审慎的决定，并保证依法、依约完成其借助睿就投平台提供的服务而达成的各项交易。</li>
                            <li>4.7. 用户承诺并保证使用睿就投平台服务的风险由其自身承担，其根据自身需求下载或通过睿就投平台产品服务取得相关信息资料，并由其自行承担系统受损、资料丢失以及其它任何风险。</li>
                            <li>4.8. 用户承诺并保证按照本协议第2.3款的规定向睿就投按时、足额支付服务价款。</li>
                            <li>4.9. 用户承诺并保证承担因其违反上述承诺和保证造成的一切后果，并同意承担因前述行为对睿就投造成的损失承担相应的赔偿责任。</li>
                        </ul>

                        <p>第五条 平台权利和义务</p>
                        <ul>
                            <li>5.1. 睿就投声明并承诺其是依据中国法律设立并有效存续的有限责任公司，具备相应的权利及能力，能够履行本协议项下的所有义务和责任。</li>
                            <li>5.2. 睿就投承诺并保证为用户提供本协议约定的服务，但不对以下事项作出担保或保证或承担任何责任：
                                （1）用户利用睿就投平台发布的信息的真实性、准确性、完整性、合法性、及时有效性；
                                （2）用户的投资收益、交易的达成等事项；
                                （3）投资人的投资损失；
                                （4）除另有特殊说明外，睿就投不以口头、书面或其他任何形式为用户提供意见或信息。</li>
                            <li>5.3. 睿就投承诺并保证在最大限度内维护睿就投平台的系统稳定性，但不就任何非自身原因包括但不限于电讯系统或互联网的中断或无法运作、技术故障、计算机错误或病毒、信息损坏或丢失等原因造成的损失向用户或任何第三方承担赔偿责任。</li>
                            <li>5.4. 睿就投承诺并保证尊重和维护用户的隐私，保守用户的秘密，非经用户书面授权，睿就投不公开、不修改、不透露透露用户基本资料、公司保密信息，亦不公开睿就投平台各项服务中的非公开内容，但以下情况除外：
                                <ul>
                                    <li>（1）根据中国法律、法规和规范性文件的强制性规定，或应有权机关要求，有义务提供用户在睿就投平台上发布的信息内容及其发布时间、互联网地址或者域名等信息；</li>
                                    <li>（2）为维护睿就投平台的知识产权和其他合法权益；</li>
                                    <li>（3）在紧急情况下为维护用户个人和社会大众的合法权益；</li>
                                    <li>（4）根据本协议及睿就投的相关规定或者睿就投平台认为必要的其他情况下。</li>
                                </ul>
                            </li>
                            <li>5.5. 用户有如下行为之一的，睿就投平台有权单方终止本协议，立即停止服务，并保存有关记录、删除含有有关信息的地址、目录或关闭服务器，必要时可依据中国法律、法规及规范性文件向国家有关机关报告。用户应承担全部法律责任，并赔偿睿就投、及其他任何第三方由此受到的损失，包括合理的追索费用：
                                <ul>
                                    <li>（1）用户提供的信息/产品侵害任何第三方知识产权、财产权等合法权益，或可能对第三方造成不利影响或侵害；</li>
                                    <li>（2）用户利用睿就投平台提供之网络平台进行违法犯罪活动，或宣传散播法律法规禁止散播的信息，或实施其他法律法规规定的禁止性行为；</li>
                                    <li>（3）用户有违反本协议及睿就投制定的其他相关制度、规则的行为，经睿就投警告后在一定期限内仍未改正；</li>
                                    <li>（4）其他严重干扰睿就投正常运营的活动。</li>
                                </ul>
                            </li>
                            <li>5.6. 睿就投承诺并保证若违反上述承诺和保证，或未提供本协议所述之服务，睿就投同意对用户因此而遭受的损失承担相应的赔偿责任。</li>
                            <p>第六条 第三方内容及广告</p>
                            <li>6.1. 睿就投平台不对平台网站上的第三方内容包括但不限于广告、网站链接等安全性、真实性做出任何保证。用户须对上述第三方内容自行评估判断，用户与任何第三方的任何往来均为用户与第三方之间的行为，用户自行承担前述行为带来的一切后果，睿就投对此不承担任何法律责任。</li>
                        </ul>

                        <p>第七条 知识产权</p>
                        <ul>
                            <li>7.1. 睿就投平台提供服务所用的产品或软件，由睿就投独立研发的，其所有权或知识产权等归睿就投所有。</li>
                            <li>7.2. 用户或用户代理的著作权人同意睿就投在本协议有效期内对用户所上载的原创作品或是用户得到授权转载的作品享有使用权，但前述作品的所有权或著作权仍归用户或原著作权人享有。</li>
                        </ul>

                        <p>第八条 保密条款</p>
                        <ul>
                            <li>8.1. 自协议生效之日起，协议双方对基于本协议获取的任何一方的保密信息须履行保密义务，未经协议任何一方许可不得擅自将相关信息、资料披露给第三方，不得利用基于协议获取的保密信息谋取不正当利益，因违反保密义务对协议双方或第三方造成损失的应当承担赔偿责任。这些保密信息包括但不限于：
                                <ul>
                                    <li>（1）用户个人资料和信息，用户同意公开的除外；</li>
                                    <li>（2）睿就投的技术秘密、商业秘密和信息资源；</li>
                                    <li>（3）其他约定保密的事项。</li>
                                </ul>
                            </li>
                            <li>8.2. 上述保密义务不适用于任何下列情况：
                                <ul>
                                    <li>（1）在本协议签订之日起，非由协议任何另一方的原因而为公众所知的保密资料；</li>
                                    <li>（2）有关法律、行政法规、规范性文件和有关政府、行业主管部门规定须予披露时；</li>
                                    <li>（3）为执行本协议，各方可按需要合理地向其雇员、专业顾问或代理人披露适当的保密资料，各方须确保和促使其雇员、专业顾问或代理人遵守本协议约定的保密义务。</li>
                                </ul>
                            </li>
                        </ul>

                        <p>第九条 法律适用及争议解决</p>
                        <ul>
                            <li>9.1. 本协议的制定、解释及执行均适用中华人民共和国现行法律法规及规范性文件。</li>
                            <li>9.2. 在本协议执行过程中，若出现与本协议有关的争议，协议各方应本着友好协商的精神予以协商解决；协商解决不成的，争议任何一方均有权向爱就投所在地有管辖权的法院提起诉讼解决。</li>
                        </ul>

                        <p>第十条  协议终止</p>
                        <ul>
                            <li>10.1. 本协议自用户帐号被终止之日或平台服务涉及的具体交易事项完成之日起终止。</li>
                        </ul>

                        <p>第十一条  附则</p>
                        <ul>
                            <li>11.1. 协议取代各方就服务事项之前所达成的任何口头协议，对协议各方具有同等约束力。协议各方就本协议未尽事宜经协商一致签署的补充协议或确认函，与本协议具有同等的法律效力。</li>
                            <li>11.2. “本协议”中的任何条款无效、被撤销或者终止的，不影响其他条款的效力。</li>
                            <li>11.3. 睿就投未行使本协议的任何权利不构成对前述所有权利的放弃。
                                自协议生效之日起，协议双方对基于本协议获取的任何一方的保密信息须履行保密义务，未经协议任何一方许可不得擅自将相关信息、资料披露给第三方，不得利用基于协议获取的保密信息谋取不正当利益，因违反保密义务对协议双方或第三方造成损失的应当承担赔偿责任。这些保密信息包括但不限于：
                                用户个人资料和信息，用户同意公开的除外；睿就投的技术秘密商业秘密和信息资源；其他约定保密的事项。</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class='w980' style="min-height: 500px;"  @if(id == 3){style="display: block;" }>
            <div class="container">
                <h3>法律服务</h3>
            </div>
        </div>
        <div class='w980 danger-info' @if(id == 4){style="display: block;" }>
            <div class="container">
                <dl class='faq_dl'>
                    <h3 style="margin-top: -2%;">风险提示</h3>
                    <dd>
                        <p>    郑重提示：在在进行股权投资前，投资人应仔细阅读投资者承诺及风险揭示函，确保自己完全理解该项投资的性质和所涉及的风险，在慎重考虑后自行决定购买与自身风险承受能力；在进行股权投资后，投资应随时关注相关的信息披露情况，及时获取相关信息。</p>
                        <p>本股权众筹平台是通过设立有限合伙企业进行股权投资的模式。为使投资人更好地了解本股权投资之合伙企业的风险，特此提供本风险揭示书，请认真详细阅读，慎重决定是否进行股权投资，是否入伙合伙企业。</p>
                        <p>1. 了解有限合伙企业及普通合伙人与有限合伙人的区别</p>
                        <p>有限合伙企业由普通合伙人和有限合伙人组成，普通合伙人对合伙企业债务承担无限连带责任，有限合伙人以其认缴的出资额为限对合伙企业债务承担责任。</p>
                        <p>有限合伙企业由普通合伙人执行合伙事务。执行事务合伙人可以要求在合伙协议中确定执行事务的报酬及报酬提取方式。有限合伙人不执行合伙事务，不得对外代表有限合伙企业。</p>
                        <p>有限合伙企业上述独特的法律结构使其成为开展股权投资的理想模式。作为普通合伙人，执行合伙事务，担任合伙企业股权投资的管理人；普通合伙人及有限合伙人共同作为投资人，向合伙企业提供资金并按照出资比例共享收益、分担损失。</p>
                        <p>2. 了解合伙企业所从事的股权投资业务的风险</p>
                        <p>拟成立的合伙企业可能面临的风险包括但不限于以下风险，请拟入伙人仔细阅读并充分理解。</p>
                        <p>2.1. 常规风险</p>
                        <p>（1） 证券市场风险</p>
                        <p>证券市场价格因受各种因素的影响而引起的波动，导致收益水平变化，将使合伙企业的股权投资组合资产面临潜在的风险，主要包括：</p>
                        <p>（2）政策风险</p>
                        <p>货币政策、财政政策、产业政策、地区发展政策等国家政策的变化对证券市场产生一定的影响，导致市场价格波动，影响合伙企业的收益而产生风险。</p>
                        <p>（3）经济周期风险</p>
                        <p>证券市场是国民经济的晴雨表，而经济运行具有周期性的特点。宏观经济运行状况将对证券市场的收益水平产生影响，合伙企业通过投资于拟上市公司，再通过公开证券市场退出，其收益也会受到影响，从而产生风险。</p>
                        <p>（4）利率风险</p>
                        <p>金融市场利率波动会导致股票市场及债券市场的价格和收益率的变动，同时直接影响企业的融资成本和利润水平。合伙企业通过投资于拟上市公司，再通过公开证券市场退出，其收益水平会受到利率变化的影响。</p>
                        <p>（5）上市公司经营风险</p>

                        <p>上市公司的经营状况受多种因素影响，如市场、技术、竞争、管理、财务等都会导致公司盈利发生变化，合伙企业通过投资于拟上市公司，再通过公开证券市场退出，从而导致其股权投资收益变化。</p>
                        <p>（6）被投资企业业绩风险</p>
                        <p>合伙企业所投资的拟上市企业由于其管理人的管理失误等原因，造成业绩下降，也会影响到合伙企业的收益率。</p>
                        <p>（7）新股/新债申购风险</p>
                        <p>新股/新债申购风险是指合伙企业在对闲置出资进行现金管理时，获配新股/新债上市后其二级市场交易价格下跌至申购价以下的风险。由于网下获配新股有一定的锁定期，锁定期间股票价格受各种市场因素、宏观政策因素等的影响，股票价格有可能下跌到申购价以下。</p>
                        <p>（8）购买力风险</p>
                        <p>  合伙企业投资的目的是追求合伙企业的资产保值增值，如果发生通货膨胀，合伙企业投资于拟上市企业所获得的收益可能会被通货膨胀抵消，从而影响合伙企业资产的保值增值。</p>
                        <p>2.2. 流动性风险</p>
                        <p>指合伙企业的资产不能迅速转变成现金，或者转变成现金会对资产价格造成重大不利影响的风险。在合伙企业存续期间，可能会发生个别偶然事件，如出现被投资企业无法上市、所投资资产无法或难以变现的情况。上述情形的发生可能会导致合伙企业的资产变现困难，从而产生流动性风险，甚至影响合伙企业资产的价值。</p>
                        <p>2.3. 管理风险</p>
                        <p>合伙企业由普通合伙人进行管理，存在管理风险。</p>
                        <p>管理人在管理合伙企业、做出投资决定的时候，会运用其投资技能和风险分析方法，但是这些技能和方法不能保证一定会达到预期的效果。</p>
                        <p>管理人在管理合伙企业时，管理人的内部控制制度和风险管理制度可能没有被严格执行而对合伙企业的资产产生不利影响，特别是可能出现合伙企业的资产与管理人的自有资产或管理人管理的其他股权投资合伙企业的资产之间产生利益输送。</p>
                        <p>2.4. 信用风险</p>
                        <p>合伙企业在交易过程中可能发生交易违约或者所投资企业倒闭、信用评级被降低、违约、拒绝支付到期股息红利的情况，从而导致合伙企业财产损失。</p>
                        <p>2.5. 合规性风险</p>
                        <p>指合伙企业在管理或运作过程中，违反国家法律、法规的规定，或者合伙企业普通合伙人违反法规及《合伙协议》有关规定的风险。</p>
                        <p>2.6. 有限合伙人认知风险</p>
                        <p>可能存在由于有限合伙人对合伙企业缺乏足够的认知和了解而造成的投资风险。</p>
                        <p>2.7. 管理人、资金保管人风险</p>
                        <p>合伙企业管理人、资金保管人因重大违法、违规行为，受到行政处罚、被取消业务资格等，或因管理人、资金保管人停业、解散、破产、撤销等原因，不能履行相应职责而导致合伙企业终止的风险。</p>
                        <p>2.8. 突发偶然事件的风险</p>
                        <p>指超出合伙企业管理人自身直接控制能力之外的风险，可能导致合伙企业或其有限合伙人的利益受损。
                            其中“突发偶然事件”指任何无法预见、不能避免、无法克服的事件或因素。</p>
                        <p>3. 特定风险</p>
                        <p>除了以上常规风险外，合伙企业还将面临以下特定风险：</p>
                        <p>3.1. 设立失败风险</p>
                        <p>由于合伙企业的合伙人人数不得超过50人，募集期结束时，合伙企业受市场环境，或其他同业竞争的影响，募集规模可能未达到   合伙文件规定的最低设立条件，导致合伙企业不能成立的风险。</p>
                        <p>3.2. 提前终止风险</p>
                        <p>存续期间，出现合伙文件约定情形，导致合伙企业提前终止。</p>
                        <p>3.3. 流动性风险</p>
                        <p>根据合伙文件的约定，合伙人的出资转让和退出受到严格限制，将有可能出资人对合伙企业的出资变现困难，面临流动性风险。</p>
                        <p>4. 了解自身特点，慎重选择参与入伙合伙企业</p>
                        <p>由于合伙企业不能清偿到期债务的，由普通合伙人承担无限连带责任，有限合伙人仅按其出资额为限承担有限责任。拟入伙有限合伙人在入伙合伙企业前，应认真阅读并理解合伙文件的全部内容，应综合考虑自身的资产与收入状况、投资经验、风险偏好，慎重选择入伙合伙企业。</p>
                        <p> 本风险揭示书的揭示事项仅为列举性质，未能详尽列明拟入伙人参与入伙合伙企业所面临的全部风险和可能导致拟入伙人资产损失的所有因素。</p>
                        <p>有限合伙人在入伙合伙企业前，应认真阅读并理解合伙文件的全部内容，并确信自身已做好足够的风险评估与财务安排，避免因入伙合伙企业而遭受难以承受的损失。</p>
                        <p>合伙企业的投资风险由全体合伙人共同分担，其管理人、财务顾问及保管银行不以任何方式向拟入伙合伙人做出保证其资产本金不受损失或者保证其取得最低收益的承诺。</p>
                        <p>声明：拟入伙股权投资人承诺已经全面理解本说明书的全部条款，尤其是本说明书中的风险揭示条款，充分认识到投资本期理财产品可能面临的风险，并自愿承担相关风险，特此确认。</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
}